.navegacion {
    background-color: transparent;
}

.negro {
    background-color: black;
}


/* CAMBIO DE FUENTE PARA TODOS LOS TEXTOS QUE ESTEN DENTRO DEL BODY */

body {
    font-family: 'Raleway', sans-serif;
}


/* CAMBIOS EN LA TIPOGRAFIA Y COLOR DEL TITULO EN H1 Y CENTRADO */

h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}


/* CONFIGURACION DE LOS ICONOS UTILIZADOS EN QUIENES SOMOS */

.icono {
    width: 100%;
    color: white;
    background-color: #0FA3B8;
    text-align: center;
}


/* CAMBIO EN EL COLOR Y LA TIPOGRAFÍA DEL PARRAFO */

p {
    color: white;
    font-family: 'Raleway', sans-serif;
}


/* CAMBIO EN EL TAMAÑO DE LA IMAGEN DE LA TARJETA EN LA SECCION DESTACADOS */

.imagen {
    height: 10rem;
}


/* CAMBIO DE COLOR DE FONDO EN LAS TARJETAS DE LA SECCION DESTACADOS */

.tarjeta {
    background-color: #0FA3B8;
}


/* CAMBIO DE COLOR DE LOS TEXTOS H5 */

h5 {
    color: white;
    border-color: aliceblue;
}


/* TAMAÑO DEL LOGO EN LA CABECERA */

.logo {
    height: 2em;
}


/* forma simple de hacer un scroll sin usar js*/


/* html {
    scroll-behavior: smooth;
} */