.navegacion {
    background-color: transparent;
}

.negro {
    background-color: black;
}


/* .texto {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    color: #ffffff;
    font-size: 2em;
}

.texto-promo {
    font-size: 1.5em;
}

.imagen-principal {
    size: 100px;
}

.texto-boton {
    font-weight: 500;
}

.alcentro {
    text-align: center;
}


/* CSS Document */

.content {
    width: 1000px;
    margin-top: 50px;
    min-height: 600px;
    background: rgb(37, 160, 197);
    margin: 0 auto;
    padding: 20px;
}

.rojo {
    color: red;
}

.normal {
    height: 2em;
}

h1 {
    text-align: center;
    color: white;
}

.icono {
    width: 100%;
    color: white;
    background-color: #0FA3B8;
    text-align: center;
}

p {
    color: white;
}

.imagen {
    height: 10rem;
}

.tarjeta {
    background-color: #0FA3B8;
}

h5 {
    color: white;
    border-color: aliceblue;
}